#### Q-1: Write a program to create an empty series.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
empt_series = pd.Series()
empt_series

Series([], dtype: object)

#### Q-2: Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [3]:
ser1 = pd.Series([200,440,204,500])
ser2 = pd.Series([430,420,201,220])
ser1 + ser2

0    630
1    860
2    405
3    720
dtype: int64

In [4]:
ser1 - ser2

0   -230
1     20
2      3
3    280
dtype: int64

In [5]:
ser1 * ser2

0     86000
1    184800
2     41004
3    110000
dtype: int64

In [6]:
ser1 / ser2

0    0.465116
1    1.047619
2    1.014925
3    2.272727
dtype: float64

#### Q-3 Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [7]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])
s1>s2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [8]:
s1<s2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
s1==s2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
s1!=s2

0     True
1     True
2     True
3     True
4    False
dtype: bool

#### Q-5.Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
series = pd.Series([1,2,'Python', 2.0, True, 100])

change to float type data

Note: Read about pd.to_numeric()

In [19]:
series = pd.Series([1,2,'Python', 2.0, True, 100])

def type_conversion(series, d_type):
    return(pd.to_numeric(series, errors = "coerce", downcast = d_type))

type_conversion(series, "float")

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float32

#### Q-6 Find top 10 most run getter from the series.

In [42]:
batter = pd.read_csv("batsman_runs_series.csv", index_col = "batter")["batsman_run"]  
## squeeze parameter has been remove so we are directly using col i.e., df["col"]
print(type(batter))

<class 'pandas.core.series.Series'>

In [45]:
bat = pd.read_csv("batsman_runs_series.csv", index_col = "batter").squeeze()  ## squeeze parameter has been remove so we are using df.squeeze()
print(type(bat))

<class 'pandas.core.series.Series'>

In [47]:
batter

batter
A Ashish Reddy     280
A Badoni           161
A Chandila           4
A Chopra            53
A Choudhary         25
                  ...
Yash Dayal           0
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2754
Z Khan             117
Name: batsman_run, Length: 605, dtype: int64

In [46]:
batter.sort_values(ascending = False).head(10)

batter
V Kohli           6634
S Dhawan          6244
DA Warner         5883
RG Sharma         5881
SK Raina          5536
AB de Villiers    5181
CH Gayle          4997
MS Dhoni          4978
RV Uthappa        4954
KD Karthik        4377
Name: batsman_run, dtype: int64

#### Q-7 No of players having runs above 3000

In [61]:
batter[batter.values>3000].size
# method 1

20

In [63]:
# method 2
batter[batter.values>3000].count().item()

20

#### Q-8 No of players having runs above mean value?

In [67]:
batter[batter.values > batter.mean()].count().item()

128

#### Q-9
i. Read `items.csv` making `item_name` as index.

ii. Show no of nan values

iii. Item price is given in $, so convert it to rupees without currency symbol.

iv. Make data type of newly made series as float.

v. Fill nan with mean of the series

In [70]:
#i
items = pd.read_csv("items.csv", index_col = "item_name")["item_price"]
items

item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75
Name: item_price, Length: 4622, dtype: object

In [86]:
# ii
items[items.isnull()].count().item()  # method 1

0

In [85]:
items[items.values == np.nan].count().item() # method 2

0

In [100]:
# iii
items.values.apply(lambda x : x)

item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75
Name: item_price, Length: 4622, dtype: object